.bg_ms_scuro {
    background-color: rgb(48, 61, 78);
}

.bg_ms_bianco {
    background-color: #fff;
}

.h_ms_16 {
    height: 1rem;
}

.bg_ms_verde {
    background-color: rgb(88, 185, 157);
}

.h_ms_32 {
    height: 2rem;
}

.h_ms_160 {
    height: 10rem;
}

.h_ms_80 {
    height: 5rem;
}

.bg_ms_poco_scuro {
    background-color: rgb(51, 67, 86);
}